
<!-- NAVBAR -->
<app-nav-home></app-nav-home>

<img class="background-image" src="./assets/fondo2.jpg" alt="Descripción de la imagen">

<div class="selector-container">
  <h1>Tipo de Registro</h1>

  <div onclick="window.location.href = 'registro/estudiante';"class="estudiante"><i class="bi bi-person-fill"></i><a> Soy un estudiante</a></div>
  <div onclick="window.location.href = 'registro/padre';" class="padre"><i class="bi bi-people-fill"></i><a > Soy un padre</a></div>
  <div onclick="window.location.href = 'registro/profesor';" class="profesor"><i class="bi bi-person-fill"></i><a > Soy un profesor</a></div>

</div>

<script src="./js/InicioSesion.js"></script>
