

<!-- NAVBAR -->
<app-nav-home></app-nav-home>

<!-- IMAGEN -->
<div class="background-image">
  <img src="./assets/fondol.jpg" alt="Imagen de fondo">

  <div class="text-overlay">
    <h1>SÉ PARTE DE LA COMUNIDAD DE CLASSCRAFT</h1>
    <a routerLink="/registro" class="register-btn">Registrarse</a>
  </div>

</div>

<div class="texto">
  <div class="Bienvenido">
    <h1>¿QUIENES SOMOS?</h1>
    <p>Classcraft es una plataforma educativa que usa la gamificación para hacer que el aprendizaje sea más divertido y motivador. Los estudiantes pueden personalizar avatares, ganar puntos y desbloquear habilidades mientras completan tareas y participan en actividades en el aula. Los profesores pueden utilizar Classcraft para mejorar el compromiso de los estudiantes y gestionar el aula de manera efectiva.</p>
  </div>

</div>

<footer class="footer">
  <div class="footer-content">
    <h2>ClassCraft</h2>
    <div class="social-icons">
      <a href="#" class="facebook-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="instagram-icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="tiktok-icon"><i class="fab fa-tiktok"></i></a>

    </div>
  </div>
</footer>


